
.prop_1.coin{
	background-image: url('https://sarandar.github.io/host_something/image/C-01.png');
}
.prop_2.coin{
	background-image: url('https://sarandar.github.io/host_something/image/C-02.png');
}
.prop_3.coin{
	background-image: url('https://sarandar.github.io/host_something/image/C-03.png');
}
.prop_4.coin{
	background-image: url('https://sarandar.github.io/host_something/image/C-04.png');
}
.prop_5.coin{
	background-image: url('https://sarandar.github.io/host_something/image/C-05.png');
}
.gauge.coin{
	background-image: url('https://sarandar.github.io/host_something/image/C-gauge.png');
}

.prop_1.heart{
	background-image: url('https://sarandar.github.io/host_something/image/H-01.png');
}
.prop_2.heart{
	background-image: url('https://sarandar.github.io/host_something/image/H-02.png');
}
.prop_3.heart{
	background-image: url('https://sarandar.github.io/host_something/image/H-03.png');
}
.prop_4.heart{
	background-image: url('https://sarandar.github.io/host_something/image/H-04.png');
}
.prop_5.heart{
	background-image: url('https://sarandar.github.io/host_something/image/H-05.png');
}
.gauge.heart{
	background-image: url('https://sarandar.github.io/host_something/image/H-gauge.png');
}